*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
atlassian-ide-plugin.xml
.idea/codeStyleSettings.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/highlighting.xml
.idea/IdeaProject.iml
.idea/misc.xml
.idea/modules.xml
.idea/projectCodeStyle.xml
.idea/scala_compiler.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/SBT__ch_qos_logback_logback_classic_1_0_13.xml
.idea/libraries/SBT__ch_qos_logback_logback_core_1_0_13.xml
.idea/libraries/SBT__com_fasterxml_jackson_core_jackson_annotations_2_1_1.xml
.idea/libraries/SBT__com_fasterxml_jackson_core_jackson_core_2_1_1.xml
.idea/libraries/SBT__com_fasterxml_jackson_core_jackson_databind_2_1_2.xml
.idea/libraries/SBT__com_github_nscala_time_nscala_time_2_10_0_2_0.xml
.idea/libraries/SBT__com_ning_async_http_client_1_7_11.xml
.idea/libraries/SBT__com_novocode_junit_interface_0_7_test.xml
.idea/libraries/SBT__com_thoughtworks_paranamer_paranamer_2_5_2.xml
.idea/libraries/SBT__com_typesafe_config_1_0_0.xml
.idea/libraries/SBT__commons_codec_commons_codec_1_8.xml
.idea/libraries/SBT__io_netty_netty_3_6_3_Final.xml
.idea/libraries/SBT__joda_time_joda_time_2_1.xml
.idea/libraries/SBT__junit_junit_4_8_2_test.xml
.idea/libraries/SBT__net_databinder_dispatch_dispatch_core_2_10_0_10_0.xml
.idea/libraries/SBT__org_joda_joda_convert_1_2.xml
.idea/libraries/SBT__org_json4s_json4s_ast_2_10_3_2_4.xml
.idea/libraries/SBT__org_json4s_json4s_core_2_10_3_2_4.xml
.idea/libraries/SBT__org_json4s_json4s_jackson_2_10_3_2_4.xml
.idea/libraries/SBT__org_json4s_json4s_native_2_10_3_2_4.xml
.idea/libraries/SBT__org_mongodb_casbah_commons_2_10_2_6_1.xml
.idea/libraries/SBT__org_mongodb_casbah_core_2_10_2_6_1.xml
.idea/libraries/SBT__org_mongodb_casbah_gridfs_2_10_2_6_1.xml
.idea/libraries/SBT__org_mongodb_casbah_query_2_10_2_6_1.xml
.idea/libraries/SBT__org_mongodb_mongo_java_driver_2_11_1.xml
.idea/libraries/SBT__org_scala_lang_scala_actors_2_10_0_test.xml
.idea/libraries/SBT__org_scala_lang_scala_compiler_2_10_0.xml
.idea/libraries/SBT__org_scala_lang_scala_library_2_10_3.xml
.idea/libraries/SBT__org_scala_lang_scala_reflect_2_10_0.xml
.idea/libraries/SBT__org_scala_lang_scalap_2_10_0.xml
.idea/libraries/SBT__org_scala_tools_testing_test_interface_0_5_test.xml
.idea/libraries/SBT__org_scalatest_scalatest_2_10_1_9_1_test.xml
.idea/libraries/SBT__org_slf4j_slf4j_api_1_7_5.xml
.idea/libraries/SBT__org_specs2_scalaz_core_2_10_7_0_0_test.xml
.idea/libraries/SBT__org_specs2_scalaz_effect_2_10_7_0_0_test.xml
.idea/libraries/SBT__org_specs2_specs2_2_10_1_14_test.xml
.idea/libraries/SBT__org_specs2_specs2_scalaz_concurrent_2_10_7_0_0_test.xml
.idea/libraries/SBT__org_specs2_specs2_scalaz_core_2_10_7_0_0_test.xml
.idea/libraries/SBT__scala_2_10_2.xml
.idea/libraries/SBT__scala_2_10_3.xml
.idea/scopes/scope_settings.xml
.idea_modules/DatasiftReconciliator-build.iml
.idea_modules/DatasiftReconciliator.iml
